body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: grid; /*con este atributo se comienza a trabajar el Grid */
    grid-template-columns: 200px 200px 200px; /*este atributo permite definir cuantas columnas y de que tamaño serán las columnas en las que se divida el grid*/
}

.item{
    background-color: aqua;
    padding: 10px;
    border: 1px solid red;
}